.comment {
  margin-top: 2%;
  width:800px; 
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.comment-form{
  display: flex;
}

.comment-title{
  margin-right: 1rem;
  width: 88%;
}

.comment-username{
  margin-right: 1rem;
  width: 15%;
}
.comment-button{
  height: 50px; 
}

.renderComment {
  margin-top: 5%;
}